<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="My description" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LOMOL</title>
</head>

<body>
  <header>
    <h1 style="text-align:center">⚡️ L2.auction ⚡️</h1>
    <p></p>
    <br />
    <h3 style="text-align:center">Last Price:</h3>
    <h2 id="price-ticker" style="text-align:center">0</h2>
    <h3 style="text-align:center"> USD / Msats</h3>
    <br />
    <div class="container">
      <p>Amount (Msats)</p>
    </div>
    <div class="container">
      <input type="number" id="amount" name="amount" value="1000" step="1000">
    </div>
    <div class="container">
      <p>Price (USD)</p>
    </div>
    <div class="container">
      <input type="number" id="price" name="price" value="200" step="100">
    </div>
    <br />
    <div class="container">
      <label class="toggle">
        <input id="toggleswitch" type="checkbox">
        <span class="roundbutton"></span>
      </label>
    </div>
    <div class="container">
      <div id="status" class="status">
        <span id="statustext">Custom Backend</span>
      </div>
    </div>
    <br />
    <div class="container">
      <a id="test-button"><button>TEST</button></a>
    </div>
    <br />
    <div class="container">
      <a id="buy-button"><button>Buy</button></a>
      &nbsp;
      <a id="sell-button"><button>Sell</button></a>
    </div>
    <br />
    <br />
  </header>
  <main>
    <div class="container">
      <b>Order book</b>
    </div>
    <br />
    <table class="center">
      <tbody>
        <tr>
          <th>BUY</th>
          <th>SELL</th>
        </tr>
        <tr>
          <td style="vertical-align:top">
            <table id="buy-order-book">
              <thead>
                <tr>
                  <th>Amount (Msats)</th>
                  <th>Price (USD)</th>
                </tr>
              </thead>
              <tbody id="buy-order-book-body"></tbody>
            </table>
          </td>
          <td style="vertical-align:top">
            <table id="sell-order-book">
              <thead>
                <tr>
                  <th>Amount (Msats)</th>
                  <th>Price (USD)</th>
                </tr>
              </thead>
              <tbody id="sell-order-book-body"></tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</body>

<script src="https://unpkg.com/webln@0.2.2/dist/webln.min.js"></script>
<script src="/functions.js"></script>

<style>
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  
  textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .status {

  }

  .toggle {
      position: relative;
      display: block;
      width: 6rem;
      height: 1.7rem;
  }

  .toggle input {
      display: none;
  }

  .roundbutton {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      background-color: #606060;
      display: block;
      transition: all 0.3s;
      border-radius: 1.7rem;
      cursor: pointer;
  }

  .roundbutton:before {
      position: absolute;
      content: "";
      height: 1.2rem;
      width: 1.25rem;
      border-radius: 100%;
      display: block;
      left: 0.25rem;
      bottom: 0.25rem;
      background-color: white;
      transition: all 0.3s;
  }

  input:checked + .roundbutton {
      background-color: #ffc248;
  }

  input:checked + .roundbutton:before  {
      transform: translate(4rem, 0);
  }
</style>

</html>